WebServiceProject-master/WebServiceProjectClient/WebServiceProjectClient/Connected Services/IzingaService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceProjectTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceProjectTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Log" nillable="true" type="tns:Log" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLog" nillable="true" type="tns:ArrayOfLog" />
  <xs:complexType name="Log">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfdelingValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AfmeldtValue" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlarmValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoligValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDValue" type="xs:int" />
      <xs:element minOccurs="0" name="NavnValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonaleValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TidValue" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Log" nillable="true" type="tns:Log" />
</xs:schema>